{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />

{% if user.is_authenticated %}
    <p>Welcome, {{ user.full_name }}</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
{% endif %}

{% if course_list %}
  <ul>
    {% for course in course_list %}
      <li><a href="{% url 'core:detail' course.id %}">{{ course.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>No courses available.</p>
{% endif %}
