{% extends "core/base.html" %}

{% block title %}Index{% endblock %}




{% block leftdiv %}

{% if user.is_authenticated %}
    <p>Welcome, {{ user.full_name }}</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <h2>Enrolled Courses</h2>
  <ul>
    {% for course in user.course_set.all %}
      <li><a href="{% url 'core:detail' course.id %}">{{ course.title }}</a></li>
    {% endfor %}
  </ul>

  {% for course in user.course_set.all %}
      {% block coursediv %}
        {% include "core/enroll.html" %}
      {% endblock coursediv %}
  {% endfor %}
{% endblock leftdiv %}
