
#bg {
  background-color: #57C9FF;
  height: 810px;
  width: 100%;
}

#login {
  border-radius: 500px;
  background-color: #EB9569;
  height: 70px;
  width: 300px;
  color: white;
  font-size: 36px;
}

.center {
  position: absolute;
  left: 50%;
  top: 30%;
}

.welc {
  color: white;
  text-align: center;
  font-size: 56px;
}

#loginform {
  position: fixed;

  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}


.flexcontainer {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}

.vert {
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.hor {
  flex-direction: row;
}

.coursebox {
  width: 100%;
  justify-content: space-between;
}
.coursebox button {
    text-decoration: none;
    font-size: 25px;

}

.times {
  margin: 0px;
  border-radius: 0px;
}

.condenser {
  width: 500px;
  height: 500px;
}


.left {
  width: 33.33%;
}

.right {
  width: 66.66%;
}

.navbar {
    width: 100%;
    color: white;
    background-color: #EE7F2D;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    position: fixed;
    top: 0;
}
.navbar li {
    float: left;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar li button {
    display: block;
    color: white;
    margin: 0px;
    font-size: 17px;
    height: 55.2px;
    border: 0px;
}

.navbar li a.active {
    background-color: white;
    color: #EE7F2D;
}

.navbar li a:hover {
    color: black;
}

.courseitemlist {
  width: 33.33%;
}
