.flexcontainer {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}

.vert {
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.hor {
  flex-direction: row;
}

.coursebox {
  width: 100%;
  justify-content: space-between;
}
.coursebox button {
    text-decoration: none;
    font-size: 25px;
      
}

.times {
  margin: 0px;
  border-radius: 0px;
}

.condenser {
  width: 500px;
  height: 500px;
}

.navbar {
    width: 100%;
    height : 60px;
    color: white;
    background-color: #EE7F2D;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
}

.navbar button {
    height: 100%;
    float: right;
    color-background: white;
    color: white;
    font-size: 17px;
    border: 0px;
}

.navbar a.active {
    background-color: white;
    color: #EE7F2D;
}

.navbar a:hover {
    color: black;
}
.navbar.profilenav {
    float: right;
}

